html body {
  font-family: "Fira Mono", monospace;
  padding: 5px;
  margin: 0px;
  margin-top: 30px;
  width: 650px;
}

pre {
  font-family: "Fira Mono", monospace;
  white-space: pre-wrap;
  font-size: 0.8em;
  background-color: white;
}

.nav {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  width: 100%;
}

.anchorlink {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: black;
}

.comments {
  width: 75%;
  height: 100%;
  display: inline;
  float: left;
  background-color: grey;
}

.comment {
  padding: 5px;
  border: 1px solid grey;
  margin-top: 5px;
}

.anchors {
  width: 25%;
  height: 100%;
  display: inline;
  float: right;
  background-color: black;
  color: white;
}

#spinner {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #eee;
  display: inline-block;
  margin: .25em;
}
