:root {
  --bg-color: #282c34;
  --main-color: #aaafb7;
  --secondary-color: #efefef;
}

html body {
  font-family: "Fira Mono", monospace;
  padding: 10px;
  margin: 0px;
  margin-top: 30px;
  width: 650px;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--main-color);
}

pre {
  font-family: "Fira Mono", monospace;
  white-space: pre-wrap;
  font-size: 0.8em;
}

.nav {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
}

.anchorlink {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: var(--main-color);;
}

.comments {
  width: 75%;
  height: 100%;
  display: inline;
  float: left;
  background-color: var(--secondary-color);
}

.comment {
  padding: 5px;
  border: 1px solid var(--secondary-color);
  margin-top: 5px;
}

.anchors {
  width: 25%;
  height: 100%;
  display: inline;
  float: right;
  background-color: var(--bg-color);
  color: white;
}

#spinner {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid var(--secondary-color);
  display: inline-block;
  margin: .25em;
}
